@import "global"

$top-padding: 180px
$menu-w: 18.54%
$header-w: 30%

body
  -webkit-transition: background-color 0.3s ease-in-out
  transition: background-color 0.3s ease-in-out


#global-menu
  position: fixed
  left: 0
  top: 0
  width: 18.54%
  height: 100%
  z-index: 10
  header
    width: 150px
    height: 330px
    margin: 30px auto 0
    img
      max-width: 100%
  .menu
    a
      display: block
      &.tickets_btn
        background: white
        width: 100px
        padding: 0.5em 1em
        margin-top: 2px

article
  width: 78.54%
  margin-left: $menu-w
  clear: both
  .section-header
    h2
      font-family: 'League Gothic'
      font-size: 4em
      margin-top: 0
    top: 0
    left: 0
    position: fixed
    z-index: 1
    height: 100%
    margin-left: $menu-w
    padding-top: $top-padding
    opacity: 0
    -webkit-transition: opacity 0.3s ease-in-out
    transition: opacity 0.3s ease-in-out
    .wrap
      width: $header-w
      color: white
  .content
    h2
      font-family: 'League Gothic'
    color: white
    width: 48.54%
    float: right
    padding-top: $top-padding
    min-height: 784px
    opacity: 0

article.fixed
  .section-header
    opacity: 1
    z-index: 8
  .content
    opacity: 1

.sponsors
  @include clearfix
  background: white
  padding: 15px
  margin-bottom: 3em
  &#local
    margin-bottom: 1em
    li
      width: auto
      text-align: center
      margin-right: 0
      a
        cursor: pointer
  &#global
    li
      width: 20%
      text-align: center
      margin-right: 0
  ul
    list-style: none
    li
      display: block
      float: left
      margin-bottom: 0
      &:last-child
        margin-right: 0px

#tickets
  text-align: center
  form
    padding-left: 230px
    input[type="email"]
      font-family: "Open Sans", sans-serif
      font-weight: 300
      padding: 0.5em
      float: left
      width: 300px
      margin-right: 5px
    input[type="submit"]
      @include button
