%article#footer
  %p
    Este evento es respaldado por
    %a{:href => "http://startupweekend.org"} Startup Weekend
    , una organización sin fines de lucro.
  #credits
    %p
      Fotografías de
      %a{:href => "http://www.flickr.com/dfectuoso17", :target => "blank"} Santiago Zavala 
      bajo licencia
      %a{:href => "http://creativecommons.org/licenses/by/2.0/deed.en", :target => "blank"} Creative Commons,
      diseño web de
      %a{:href => "http://lulo.mx", :target => "blank"} Luis López
      y
      %a{:href => "http://jeduan.com", :target => "blank"} Jeduan Cornejo
      con el código disponible en
      %a{:href => "http://github.com/jeduan/startupweekend", :target => "blank"} Github
      %span> .