#footer-container
  #footer
    #powered
      %p
        %span Este evento es respaldado por
        %a{:href => "http://startupweekend.org"} Startup Weekend
        %span> , una organización sin fines de lucro.
    #credits
      %p
        %span Fotografías de 
        %a{:href => "http://www.flickr.com/dfectuoso17", :target => "blank"} Santiago Zavala 
        %span bajo licencia
        %a{:href => "http://creativecommons.org/licenses/by/2.0/deed.en", :target => "blank"} Creative Commons,
        %span diseño web de
        %a{:href => "http://cesarsalazar.mx", :target => "blank"} César Salazar
        %span,
        %a{:href => "http://lulo.mx", :target => "blank"} Luis López
        %span y
        %a{:href => "http://jeduan.com", :target => "blank"} Jeduan Cornejo
        %span con el código disponible en
        %a{:href => "http://github.com/jeduan/startupweekend", :target => "blank"} Github
        %span> .