- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 Startup Weekend Mexico City

  #description
    #images
      %img{:src => "/images/sw01_260px.jpg"}
      %img{:src => "/images/sw02_260px.jpg"}
      %img{:src => "/images/sw03_260px.jpg"}
    %p Startup Weekend es un evento de un fin de semana completo de duración en el que un grupo de emprendedores y aspirantes a emprendedores pone manos a la obra en probar si una idea de negocio es viable. Es un espacio es el que personas con perfil técnico, de diseño y de negocio se juntan para desarrollar productos.

  #sponsors
    #local
      %h3 Patrocinadores locales
      %a{:href => "http://www.nafin.com/portalnf/content/productos-y-servicios/programas-empresariales/conacyt-nafinsa.html", :target => "blank"}
        %img{:src => "/images/logos/nafin.png"}
      %a{:href => "http://mexican.vc", :target => "blank"}
        %img{:src => "/images/logos/mexicanvc.png"}
    #global
      %h3 Patrocinadores globales
      %a{:href => "http://www.microsoft.com/bizspark/Default.aspx", :target => "blank"}
        %img{:src => "/images/logos/bizspark.png"}/
      %a{:href => "http://aws.amazon.com/", :target => "blank"}
        %img{:src => "/images/logos/aws.png"}/
      %a{:href => "http://www.twilio.com/", :target => "blank"}
        %img{:src => "/images/logos/twilio.png"}/
      %a{:href => "https://www.odesk.com", :target => "blank"}
        %img{:src => "/images/logos/odesk.png"}/
      %a{:href => "http://www.tokbox.com/opentok/api", :target => "blank"}
        %img{:src => "/images/logos/opentok.png"}/
            
  #register
    %h2 
      %a{:href => "http://mexicocity.startupweekend.org"} Regístrate ahora
    :plain
      <iframe src="https://www.eventbrite.com/tickets-external?eid=1541796555&amp;ref=etckt" frameborder="0" height="490px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  
  #venue
    #details
      %h2 ¿Dónde y cuando será?
      %p 
        %strong Fecha:
        %span 10 al 12 de junio de 2011
      %p
        %strong Lugar:
        %span Sala Gustavo Petricioli - NAFIN
      %p
        %strong Dirección: 
        %span Av. Insurgentes Sur 1971, Col. Guadalupe Inn, México D.F.
    #map
      %iframe{:frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=217798331451831111620.0004a279fde91ba00f36d&ll=19.351437,-99.18633&spn=0.008098,0.017123&z=15&output=embed", :width => "400"}
  #requirements
    %h2 ¿Qué necesito para participar?
    %ol
      %li Prepara tu idea para presentar en el evento.
      %li Apartar todo el fin de semana para que nada te distraiga del evento.
      %li Llevar tu material de trabajo: Computadora, plumones, cuadernos o lo que sea.
  
  #program
    %h2 Programa del evento
    %p El evento empieza con una sesión a micrófono abierto en viernes en la cual los asistentes traen sus mejores ideas para inspirar a otros a unirse a su equipo. A través del sábado y el domingo los equipos se enfocan en el desarrollo de sus clientes, validar sus ideas, pacticar las metodologías de Lean Startup y construir un producto mínimamente viable. El domingo en la tarde, los equipos demuestran sus prototipos y reciben valiosa retroalimentación de un panel de expertos.
  
  #credits
    %p
      %span Este evento es respaldado por
      %a{:href => "http://startupweekend.org"} Startup Weekend
      %span, una organización sin fines de lucro.
    %p
      %span Fotografías de 
      %a{:href => "http://www.flickr.com/photos/br1dotcom", :target => "blank"} Bruno Cordioli 
      %span bajo licencia
      %a{:href => "http://creativecommons.org/licenses/by/2.0/deed.en", :target => "blank"} Creative Commons,
      %span diseño web de
      %a{:href => "http://cesarsalazar.mx", :target => "blank"} César Salazar
      %span con el código disponible en 
      %a{:href => "http://github.com/cesarsalazar/startupweekend", :target => "blank"} Github
      %span> .

      