- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 Startup Weekend Mexico City

  #description
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="Por 1ra vez, StartupWeekend en el DF. Si programas, diseñas o haces negocios, no dejes de vivir la experiencia #swdf" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=100467290046637&amp;href=http%3A%2F%2Fstartupweekenddf.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
    #images
      %img{:src => "/images/sw01_260px.jpg"}
      %img{:src => "/images/sw02_260px.jpg"}
      %img{:src => "/images/sw03_260px.jpg"}
    %p 
      %strong ¡Construye un startup en 54 horas!
      %span Startup Weekend es un evento de un fin de semana completo de duración en el que un grupo de emprendedores y aspirantes a emprendedores pone manos a la obra en probar si una idea de negocio es viable. Es un espacio es el que personas con perfil técnico, de diseño y de negocio se juntan para desarrollar productos.

  #sponsors
    #gold
      %h3 Patrocinador Gold
      %a{:href => "http://code.google.com", :target => "blank"}
        %img{:src => "/images/logos/google.png"}
    #local    
      #silver  
        %h3 Patrocinadores Silver
        %a#mexicoinnova{:href => "http://mexicoinnova.com", :target => "blank"}
          %img{:src => "/images/logos/mexicoinnova.png"}
        %a#emprendela{:href => "http://emprende.la", :target => "blank"}
          %img{:src => "/images/logos/emprendela.png"}
        %a#integraldf{:href => "http://integraldf.com", :target => "blank"}
          %img{:src => "/images/logos/integraldf.png"}
      #allies
        %h3 Aliados estratégicos
        %a#mexicanvc{:href => "http://mexican.vc", :target => "blank"}
          %img{:src => "/images/logos/mexicanvc.png"}
        %a#nafin{:href => "http://www.nafin.com/portalnf/content/productos-y-servicios/programas-empresariales/conacyt-nafinsa.html", :target => "blank"}
          %img{:src => "/images/logos/nafin.png"}
        %a#techba{:href => "http://techbasv.com/bootcamp", :target => "blank"}
          %img{:src => "/images/logos/techba.png"}
    #global
      %h3 Patrocinadores Globales
      %a#bizspark{:href => "http://www.microsoft.com/bizspark/Default.aspx", :target => "blank"}
        %img{:src => "/images/logos/bizspark.png"}/
      %a#aws{:href => "http://aws.amazon.com/", :target => "blank"}
        %img{:src => "/images/logos/aws.png"}/
      %a#twilio{:href => "http://www.twilio.com/", :target => "blank"}
        %img{:src => "/images/logos/twilio.png"}/
      %a#odesk{:href => "https://www.odesk.com", :target => "blank"}
        %img{:src => "/images/logos/odesk.png"}/
      %a#opentok{:href => "http://www.tokbox.com/opentok/api", :target => "blank"}
        %img{:src => "/images/logos/opentok.png"}/
            
  #register
    %h2 
      %a{:href => "http://mexicocity.startupweekend.org"} Regístrate ahora
    %p Elige el tipo de boleto más adecuado para tu perfil ya sea desarrollo, diseño o  negocios. 
    :plain
      <iframe src="https://www.eventbrite.com/tickets-external?eid=1541796555&amp;ref=etckt" frameborder="0" height="330px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  
  #venue
    #details
      %h2 ¿Dónde y cuando será?
      %p 
        %strong Fecha:
        %span 10 al 12 de junio de 2011
      %p
        %strong Lugar:
        %span Integral
      %p
        %strong Dirección: 
        %span Paseo de las Palmas 310, Lomas de Chapultepec 11000 México, D.F.
    #map
      :plain
        <iframe width="400" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=integral+df&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.494074,79.013672&amp;ie=UTF8&amp;hq=integral+df&amp;hnear=&amp;cid=17111976305881644066&amp;ll=19.428877,-99.208431&amp;spn=0.032377,0.068493&amp;z=13&amp;output=embed"></iframe>
  #requirements
    %h2 ¿Qué necesito para participar?
    %ol
      %li Prepara tu idea para presentar en el evento.
      %li Apartar todo el fin de semana para que nada te distraiga del evento.
      %li Llevar tu material de trabajo: Computadora, plumones, cuadernos o lo que sea.
  
  #program
    %h2 Programa del evento
    %p 
      %strong Inicio:
      %span Viernes 10 de junio a las 6pm
    %p 
      %strong Fin:
      %span Domingo 12 de junio a las 8pm
    %p El evento empieza con una sesión a micrófono abierto en viernes en la cual los asistentes traen sus mejores ideas para inspirar a otros a unirse a su equipo. A través del sábado y el domingo los equipos se enfocan en el desarrollo de sus clientes, validar sus ideas, practicar las metodologías de Lean Startup y construir un producto mínimamente viable. El domingo en la tarde, los equipos demuestran sus prototipos y reciben valiosa retroalimentación de un panel de expertos. El tiempo que los equipos deseen dedicar a su proyecto está a su propia consideración. Las instalaciones de IntegralDF estarán a nuestra disposición las 24 horas del día durante el evento.
  
  #organizers
    %h2 Organizers
    %ul
      %li 
        :markdown
          Santiago Zavala - _email:_ [santiago@mexican.vc](santiago@mexican.vc) - _twitter:_ [@dfect](http://twitter.com/dfect)
      %li 
        :markdown
          Enrique Díaz - _email:_ [nrikediaz@gmail.com](nrikediaz@gmail.com) - _twitter:_ [@nrikediaz](http://twitter.com/nrikediaz)
      %li
        :markdown
          Eduardo Serrano - _email:_ [guayosr@gmail.com](guayosr@gmail.com) - _twitter:_ [@guayosr](http://twitter.com/guayosr)
      %li 
        :markdown
          César Salazar - _email:_ [cesar@mexican.vc](cesar@mexican.vc) - _twitter:_ [@cesarsalazar](http://twitter.com/cesarsalazar)
  
  #press
    %h2 Kit de prensa
    %p
      %span Puedes descargar tu kit de prensa aquí: 
      %a{:href => '/press/SWDF_press.zip'} Descarga
  
  #credits
    %p
      %span Este evento es respaldado por
      %a{:href => "http://startupweekend.org"} Startup Weekend
      %span> , una organización sin fines de lucro.
    %p
      %span Fotografías de 
      %a{:href => "http://www.flickr.com/photos/br1dotcom", :target => "blank"} Bruno Cordioli 
      %span bajo licencia
      %a{:href => "http://creativecommons.org/licenses/by/2.0/deed.en", :target => "blank"} Creative Commons,
      %span diseño web de
      %a{:href => "http://cesarsalazar.mx", :target => "blank"} César Salazar
      %span con el código disponible en 
      %a{:href => "http://github.com/cesarsalazar/startupweekend", :target => "blank"} Github
      %span> .

      