- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js", :type => "text/javascript"}
  %script(src="/js/waypoints.min.js")
  %script(src="/js/backstretch.js")
  %script(src="/javascripts/index.js")
%article#home.fixed(data-bg="00c49e" data-color="355147")
  .section-header
    %h2
      Aprende a construir
      %br
      una empresa en 54 horas
    .wrap
      %p Startup Weekend es un fin de semana en el que tendrás la oportunidad de trabajar con personas de distintos perfiles para probar si tu idea de negocio es viable y llevarla hasta su máximo potencial. No te pierdas esta experiencia inolvidable.
    #global.sponsors
      %ul
        %li#google_entrepreneurs
          %img{:src => "/images/globales/google.png"}
        %li#dotco
          %img{:src => "/images/globales/dotco.png"}
        %li#domaincom
          %img{:src => "/images/globales/domaincom.jpeg"}
        %li#sendgrid
          %img{:src => "/images/globales/sendgrid.png"}
        %li#bizspark
          %img{:src => "/images/globales/bizspark.png"}
        %li#aws
          %img{:src => "/images/globales/aws.png"}

    #local.sponsors
      %ul
        %li#blackberry
          %img{:src => "/images/locales/blackberry.png"}
        %li#cityexpress
          %img{:src => "/images/locales/cityexpress.png"}
        %li#enova
          %img{:src => "/images/locales/enova.png"}
        %li#pagofacil
          %img{:src => "/images/locales/pagofacil.png"}

  .content.empty

%article#program(data-bg="008357" data-color="0e3829")
  .section-header
    %h2 Programa
    .wrap
      %p Startup Weekend es un fin de semana en el que tendrás la oportunidad de trabajar con personas de distintos perfiles para probar si tu idea de negocio es viable y llevarla hasta su máximo potencial. No te pierdas esta experiencia inolvidable.
  .content
    :markdown
      ## Inicio
      La cita es el **viernes 15 de febrero a las 6:00 pm**. El evento inicia formalmente a las 7:00pm con una introducción a la dinámica y una sesión de networking para conocer a los demás asistentes.

      ## Selección de ideas
      Tendrás la oportunidad de presentar una idea de negocio durante un minuto. Las mejores ideas serán seleccionadas por los propios participantes.

      ## Formación de equipos
      Podrás participar en la idea seleccionada que más te apasione (¿la tuya quizá?). Un buen equipo será multidisciplinario, con personas técnicas, diseñadores y gente de negocios a bordo.

      ## Validación inicial de mercado
      Antes de crear cualquier cosa es crucial preguntarse ¿quién es mi cliente? ¿qué le duele? ¿qué tan grande es mi mercado? ¿está creciendo? ¿cómo podría generar dinero?

      ## Desarrollo de producto
      Ya con más información, pasaremos a desarrollar una primera versión del producto que sea mínimamente viable, es decir, que resuelva el problema fundamental para al menos un cliente.

      ## Validación de la oferta de valor
      Consideranto que nuestro MVP es sólo un prototipo, es importante probarlo con clientes reales para aprender sobre este mismo ¿realmente resuelve el problema? ¿es fácil de entender? ¿refleja su valor ante el cliente?

      ## Presentación
      Por último, cada equipo tendrá 5 minutos para presentar y 3 minutos de preguntas y respuestas ante un panel de emprendedores e inversionistas.

      Si bien Startup Weekend tiene un formato de competencia, lo importante (y lo decimos en serio) no es quién gana, sino quienes logran tener un progreso en su  capacidad de ejecutar rápidamente un negocio. Startup Weekend es un evento de aprendizaje experiencial y de relacionamiento para presentes y futuros emprendedores.
    
      ## Finalización
      En esta ocasión, **el evento terminará a las 9:00pm del domingo 17 de Febrero** con la premiación del equipo ganador. Después de que finalice el evento, invitamos a todos los asistentes, mentores y jueces a un "after-party" en el que podremos convivir en un ambiente mucho más relajado.

%article#coaches(data-bg="899437" data-color="3a3d18")
  .section-header
    %h2
      Facilitador
      %br
      y Coaches
    .wrap
      %p Startup Weekend es un fin de semana en el que tendrás la oportunidad de trabajar con personas de distintos perfiles para probar si tu idea de negocio es viable y llevarla hasta su máximo potencial. No te pierdas esta experiencia inolvidable.
  .content
    .people#adam
      %img{:src => "/images/people/adam_stelle.jpg"}
      %h2 Adam Stelle
      %p.bio Adam forma parte del Equipo de Liderazgo de Startup Weekend a nivel Global. Antes de integrarse a esta organización en Septiembre de 2010, Adam trabajó con emprendedores de escasos recursos en el sur de África, donde diseñó e implementó un modelo de negocios de micro franquicias alrededor de energías renovables. Adam cuenta con un BA en Filosofía por parte de la University of British Columbia, en Canadá.

    .people#alejandra_castro
      %img{:src => "/images/people/alejandra_castro.jpg"}
      %h2 Alejandra Castro
      %p.bio Egresada de Diseño Gráfico de la Universidad Iberoamericana, Alejandra empezó trabajando en publicidad BTL con marcas como Chivas, Benson & Hedges, Mabe y Vitamin Water. Después de la publicidad, encontró lo que realmente le gusta en el mundo de las aplicaciones móviles y el área digital. Ha hecho aplicaciones para Samsung en BADA y Android, un juego interactivo para el Excélsior con temática de las elecciones, y actualmente acaba de entregar una aplicación para el ICyT del DF, la cual está próxima a ser lanzada en la App Store.

    .people#carmen_ayala
      %img{:src => "/images/people/carmen_ayala.jpg"}
      %h2 Carmen Ayala
      %h3 Directora, Mandalah
      %p.bio Actual directora de Mandalah, Consultora de Innovación, una empresa global especializada en brindar innovación de valor a marcas y empresas a través del estudio del comportamiento humano y de tendencias socioculturales emergentes. Carmen estudió Comunicación Social con especialidad en Semiótica en la UAM, así como Creatividad Estratégica en Underground Argentina y Marketing Creativo en la Universidad Texas A&M.

    .people#fedecasas
      %img{:src => "/images/people/federico_casas.jpg"}
      %h2 Federico Casas
      %h3 Co-fundador, Semana
      %p.bio Fede creó su primer empresa (Kin Camp) en el 2005 y la vendió en el 2008 (después recompró parte en el 2010 y hoy es socio otra vez). Ha fundado varias empresas más como SEMANA (agencia de SM), Aventones (plataforma de ridesharing), OSOM (app para recolectar tu reputación) y actualmente está desarrollando 3 proyectos nuevos, aunque también ha fracasado en varios (como unos 5). Como pasatiempo tiene un par de negocios inmobiliarios y es fan de los Pumas.

    .people#jorge_soto
      %img{:src => "/images/people/jorge_soto.jpg"}
      %h2 Jorge Soto
      %h3 Co-fundador, CitiVox
      %p.bio Jorge ha estado involucrado en el diseño e implementación de proyectos que usan tecnología para empoderar a los ciudadanos e instituciones de México, Latinoamérica y África. En 2010 fundó CitiVox, una startup que usa tecnología para facilitar la comunicación entre ciudadanos y las instituciones que los atienden. CitiVox empodera a líderes de comunidad, a las personas y a funcionarios públicos para transformar los reportes ciudadanos en información para realizar acciones concretas. A sus 27 años, es uno de los emprendedores de Endeavor Global más jóvenes alrededor del mundo y en mayo de 2012 recibió el reconocimiento TR35 por parte del MIT and Technology Review, como uno de los 10 mejores innovadores de menos de 35 años en México.

    .people#mike_lisavich
      %img{:src => "/images/people/mike_lisavich.jpg"}
      %h2 Mike Lisavich
      %h3 Facilitador, FastSwitch
      %p.bio Nacido en Boston, MA, cuenta con una maestría en negocios por parte de la Universidad del Estado de Ohio. Mike es un emprendedor y asesor que se especializa en trabajar con compañías jóvenes de tecnología. Como co-fundador y administrador del programa de aceleración 10-xelerator en Columbus, OH, ha pasado dos años ayudando a los egresados recaudar más de $ 6.5 millones en capital semilla. Adicionalmente, fungió como asesor personal para la empresa Fast Switch Ventures en temas de inversión y emprendimiento.

    .people#navid
      %img{:src => "/images/people/navid.jpg"}
      %h2 Navid Safabakhsh
      %h3 CEO y Co-fundador, Freshout
      %p.bio Navid es el CEO y Co-Fundador de Freshout, una compañía de tecnología que diseña, desarrolla, publica productos y servicios cada año. Recientemente, Freshout introdujo al mercado su primer producto llamado Breezi, una poderosa plataforma en línea que te permite diseñar y construir sitios web de una manera muy sencilla, fresca y divertida.

%article#judges(data-bg="af841d" data-color="28160e")
  .section-header
    %h2 Jueces
  .content
    .people#cemre
      %img{:src => "/images/people/cemre.jpg"}
      %h2 Cemre Gungor
      %h3
        Co-fundador,
        %a(href="http://branch.com") Branch.com
      %p.bio
        Cemre es el co-fundador encargado del diseño de Branch, una nueva forma de expresar opiniones en linea.  Branch recientemente salió al público y sus inversionistas son mejor conocidos por haber creado Twitter.

      %p
        Cemre tiene una maestría en medios experimentales de NYU y trabajó anteriormente como diseñador de producto en Etsy. En sus palabras, agarró la 
        %em fiebre del startup
        cuando participó en StartupBus 2011 y su equipo, TripMedi, fue el ganador. Es originario de Ankara, Turquía y vive actualmente en Nueva York.

    .people#hector_iriarte
      %img{:src => "/images/people/hector_iriarte.jpg"}
      %h2 Héctor Iriarte
      %h3 CEO, TuOla.mx
      %p.bio Héctor es fundador de Tu Ola, un programa digital de recompensas por realizar acciones verdes. Antes de Tu Ola, Héctor ya había fundado dos compañías relacionadas con temas ambientales. Tiene más de 15 años de experiencia internacional en consultoría, tecnología y finanzas en empresas como KPMG, Oracle y Gap. Estudió Ingeniería Industrial en la Universidad Panamericana y tiene un MBA por la Universidad de California en Berkeley. Jugador de rugby y aficionado a las actividades al aire libre.

    .people#cesar_salazar
      %img{:src => "/images/people/cesar_salazar.jpg"}
      %h2 César Salazar
      %h3 Venture Partner, 500 Startups
      %p.bio César Salazar es Venture Partner de 500 Startups. Desde su posición, le toca trabajar con algunas de las startups más prometedoras de Latinoamérica de habla hispana, particularmente de México. Antes de esto, César fue uno de los socios fundadores de Mexican.VC, es fondo de capital semilla y aceleradora de startups en Internet más visible de México. Mexican.VC fue adquirido en 2012 por 500 Startups y fue así como César obtuvo su actual puesto.
 
      %p.bio César fue emprendedor por más de una década antes de pasarse al otro lado de la mesa. Es conocido por fungir como un jugador clave en el desarrollo del ecosistema de emprendimiento mexicano. A través de iniciativas como Hackspedition, Startup Dojo y SuperHappyDevHouse, ha promovido el emprendimiento tecnológico en su país natal. Adicionalmente, es un asesor regional de Startup Weeekend.
 
      %p.bio A pesar de definirse como un diseñador de interacción, César es Ingeniero Industrial y de Sistemas por el Tecnológico de Monterrey.

%article#venue(data-bg="5e3319" data-color="ead3ac")
  .section-header
    %h2 Sede
    %p
      %a(href="http://goo.gl/maps/FpFeQ" target="_blank")
        %img{:src => "http://maps.google.com/maps/api/staticmap?center=19.422578,-99.159530&zoom=15&markers=19.422578,-99.159530&size=400x647&sensor=false"}
    
  .content
    %h2 ENOVA
    %p
      Córdoba 56
      %br
      Casi esquina con Durago
      %br
      Col. Roma Norte
      %br
      C.P. 06700
%article#tickets(data-bg="b42050" data-color="efb9cf")
  .section-header
    %h2 Tickets
    :plain
      <iframe  src="http://www.eventbrite.com/tickets-external?eid=5026849442&ref=etckt" frameborder="0" height="480" width="900" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  .content

%article.newsletter(data-bg="9da3aa" data-color="3c3e3f")
  .section-header
    %h2 Suscríbete
    :plain
      <form action="http://earlyadopters.us2.list-manage.com/subscribe/post?u=5a2b3b4890e0680920a6350f6&amp;id=40612bfdb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo electrónico" required>
      <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
  .content