- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
        
#heading
  %h1.home Startup Weekend Mexico City
  %p.powered powered by the Kauffman Foundation
  %h2.date 11 al 13 de noviembre de 2011
#content 
  #social
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="Por 2da vez, StartupWeekend en el DF. Si programas, diseñas o haces negocios, no dejes de vivir la experiencia #swdf" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=100467290046637&amp;href=http%3A%2F%2Fstartupweekenddf.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
  #description      
    #images
      %img{:src => "/images/swdf2_1.jpg"}
      %img{:src => "/images/swdf2_2.jpg"}
      %img{:src => "/images/swdf2_3.jpg"}
    %p 
      %strong ¡Construye un startup en 54 horas!
      %span Startup Weekend es un evento de un fin de semana completo de duración en el que un grupo de emprendedores y aspirantes a emprendedores pone manos a la obra en probar si una idea de negocio es viable. Es un espacio es el que personas con perfil técnico, de diseño y de negocio se juntan para desarrollar productos.

  #sponsors
    #gold
      %h3 Patrocinador Gold
      %a#astrata{:href => "http://astrata.mx", :target => "blank"}
        %img{:src => "/images/logos/astrata.png"}
    #local    
      #silver  
        %h3 Patrocinadores Silver
        %a#innku{:href => "http://innku.com", :target => "blank"}
          %img{:src => "/images/logos/innku.png"}
        %a#mexicoinnova{:href => "http://mexicoinnova.com", :target => "blank"}
          %img{:src => "/images/logos/mexicoinnova.png"}
        %a#telepro{:href => "http://www.telepro.com.mx/", :target => "blank"}
          %img{:src => "/images/logos/telepro.png"}
      #allies
        %h3 Aliados estratégicos
        %a#itesm{:href => "http://www.csf.itesm.mx/micampus/", :target => "blank"}
          %img{:src => "/images/logos/itesm.png"}
        %a#mexicanvc{:href => "http://mexican.vc", :target => "blank"}
          %img{:src => "/images/logos/mexicanvc.png"}
        %a#techba{:href => "http://techbasv.com/bootcamp", :target => "blank"}
          %img{:src => "/images/logos/techba.png"}
    #global
      %h3 Patrocinadores Globales
      %a#bizspark{:href => "http://www.microsoft.com/bizspark/Default.aspx", :target => "blank"}
        %img{:src => "/images/logos/bizspark.png"}/
      %a#aws{:href => "http://aws.amazon.com/", :target => "blank"}
        %img{:src => "/images/logos/aws.png"}/
      %a#twilio{:href => "http://www.twilio.com/", :target => "blank"}
        %img{:src => "/images/logos/twilio.png"}/
      %a#odesk{:href => "https://www.odesk.com", :target => "blank"}
        %img{:src => "/images/logos/odesk.png"}/
      %a#opentok{:href => "http://www.tokbox.com/opentok/api", :target => "blank"}
        %img{:src => "/images/logos/opentok.png"}/
            
  #register
    %h2 
      %a{:href => "http://mexicocity.startupweekend.org"} Regístrate ahora
    %p Elige el tipo de boleto más adecuado para tu perfil ya sea desarrollo, diseño o  negocios. 
    :plain
      <iframe src="http://www.eventbrite.com/tickets-external?eid=2072040529&ref=etckt" frameborder="0" height="360px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  
  #organizers
    %h2 Organizadores
    %p Startup Weekend a nivel local es organizado por un grupo de emprendedores apasionados que trabajan en esto de forma voluntaria.
    %ul
      %li 
        %img{:src => "/images/organizadores/santiago_zavala.jpg"}
        %p Santiago Zavala
        %a.email{:href => "mailto:santiago@mexican.vc"} santiago@mexican.vc
        %a.twitter{:href => "http://twitter.com/dfect" } http://twitter.com/dfect
      %li
        %img{:src => "/images/organizadores/eduardo_serrano.jpg"}
        %p Eduardo Serrano
        %a.email{:href => "mailto:guayosr@gmail.com"} guayosr@gmail.com
        %a.twitter{:href => "http://twitter.com/guayosr"} http://twitter.com/guayosr
      %li 
        %img{:src => "/images/organizadores/cesar_salazar.jpg"}
        %p César Salazar
        %a.email{:href => "mailto:cesar@mexican.vc"} cesar@mexican.vc
        %a.twitter{:href => "http://twitter.com/cesarsalazar"} http://twitter.com/cesarsalazar
      %li 
        %img{:src => "/images/organizadores/jose_akle.jpg"}
        %p José Akle
        %a.email{:href => "mailto:joseakle@gmail.com"} joseakle@gmail.com
      %li 
        %img{:src => "/images/organizadores/mariana_montoya.jpg"}
        %p Mariana Montoya
        %a.email{:href => "mailto:m.montoya@itesm.mx"} m.montoya@itesm.mx

  
  

      