- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  %h1 Startup Weekend Mexico City
  #description
    #images
      %img{:src => "/images/sw01.jpeg"}
      %img{:src => "/images/sw02.jpeg"}
      %img{:src => "/images/sw04.jpeg"}
    %p Startup Weekend es un evento de un fin de semana completo de duración en el que un grupo de emprendedores y aspirantes a emprendedores pone manos a la obra en probar si una idea de negocio es viable. Es un espacio es el que personas con perfil técnico, de diseño y de negocio se juntan para desarrollar productos.
    
  #register
    %h2 Regístrate ahora
  
  #venue
    %h2 ¿Dónde y cuando será?
    %p 
      %strong Fecha:
      %span 10 al 12 de junio de 2011
    %p
      %strong Lugar:
      %span Sala Gustavo Petricioli - NAFIN, Av. Insurgentes Sur 1971, Col. Guadalupe Inn, México D.F.
  
  #requirements
    %h2 ¿Qué necesito para participar?
    %ol
      %li Prepara tu idea para presentar en el evento.
      %li Apartar todo el fin de semana para que nada te distraiga del evento.
      %li Llevar tu material de trabajo: Computadora, plumones, cuadernos o lo que sea.
  
  #program
    %h2 Programa del evento
    %p El evento empieza con una sesión a micrófono abierto en viernes en la cual los asistentes traen sus mejores ideas para inspirar a otros a unirse a su equipo. A través del sábado y el domingo los equipos se enfocan en el desarrollo de sus clientes, validar sus ideas, pacticar las metodologías de Lean Startup y construir un producto mínimamente viable. El domingo en la tarde, los equipos demuestran sus prototipos y reciben valiosa retroalimentación de un panel de expertos.
  
  #credits
    %p
      %span Fotgrafías de 
      %a{:href => "http://www.flickr.com/photos/br1dotcom/5088870505/", :target => "blank"} Bruno Cordioli 
      %span bajo licencia
      %a{:href => "http://creativecommons.org/licenses/by/2.0/deed.en", :target => "blank"} Creative Commons,
      %span diseño web de
      %a{:href => "http://cesarsalazar.mx", :target => "blank"} César Salazar
      %span con el código disponible en 
      %a{:href => "http://github.com/cesarsalazar/startupweekend", :target => "blank"} Github
      %span> .

