!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
	%head
		%title
			= @title || 'Startup Weekend Mexico City'
		%meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
		%link{:href => "http://fonts.googleapis.com/css?family=Maiden+Orange", :rel => "stylesheet", :type => "text/css"}/
		= yield_content :head
	%body
		= yield