- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/lugar.css', :type => 'text/css'}
        
#heading
  %h1 Lugar 
#content
  %p.teaser El evento se realizará en las instalaciones de la Escuela de Negocios del Tecnológico de Monterrey Campus Santa Fe.
  #direccion
    %h2 Dirección
    %p Av. Carlos Lazo #100
    %p Col. Santa Fe
    %p Alvaro Obregón
    %p México D.F.
  #mapa
    %h2 Mapa
    :plain
      <iframe width="800" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?vpsrc=6&amp;ctz=300&amp;ie=UTF8&amp;msa=0&amp;msid=217798331451831111620.0004b036c14ff3e967e44&amp;t=m&amp;ll=19.362976,-99.259543&amp;spn=0.016195,0.034289&amp;z=15&amp;output=embed"></iframe><br /><small>Ver <a href="http://maps.google.com/maps/ms?vpsrc=6&amp;ctz=300&amp;ie=UTF8&amp;msa=0&amp;msid=217798331451831111620.0004b036c14ff3e967e44&amp;t=m&amp;ll=19.362976,-99.259543&amp;spn=0.016195,0.034289&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">ITESM Campus Santa Fe</a> en un mapa más grande</small>
  #estacionamiento
    %h2 Estacionamiento
    %p El lugar cuenta con estacionamiento sin costo 24 horas al día.
  #transporte
    %h2 Transporte público
    %p Si quieres llegar en Metro, la estación de más cercana es Tacubaya. De ahí salen camiones hacia Santa Fe pero toma en cuenta que son relativamente escasos. Te recomendamos organizarte para compartir auto o taxi.