- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/mentores.css', :type => 'text/css'}
        
#heading
  %h1 Mentores
#content
  %p.teaser Para esta edición nos acampañan varios mentores con amplia experiencia que nos regalarán su tiempo para ayudar a que las empresas generadas durante el fin de semana incrementen su potencial de ser un éxito. A continuación te presentamos a quienes a nuestro grupo de mentores:
  #david_weekly
    %img{:src => "/images/mentores/david_weekly.jpg"}
    %h2 David Weekly
    .bio
      :markdown
        David fundó la empresa que se convertiría en PBworks en el 2003 y desde eso ha estado involucrado directamente en la fundación de iniciativas de comunidad tales como SuperHappyDevHouse y HackerDojo. A través de esto, ha sido un promotor de la cultura hacker en tanto en Silicon Valley como en México. Recientemente, comenzó su carrera como inversionista con la creación de Mexican.VC, el primer fondo de capital semilla de Silicon Valley para startups mexicanas.

        David comenzó a programar a los 5 años y ha hecho código para el MIT, Harvard, Stanford, There.com, atWeb y Legato. David escribió la primera descripción del MP3 para el ser humano común en 1997 y se graduó en el 2000 del programa de Ciencias Computacionales de la Universidad de Stanford, en donde fue presidente de su clase y finalista en la Competencia International de Programación ACM.

  #britt_selvitelle
    %img{:src => "/images/mentores/britt_selvitelle.jpg"}
    %h2 Britt Selvitelle
    .bio
      :markdown
        A principios de 2007, Britt se mudó de Kentucky a San Francisco para unirse a un pequeño grupo en Odeo que fundaría Twitter, trabajando en escalar la arquitectura del back-end. Originalmente era un equipo de 3 ingenieros, sin embargo a lo largo de los 5 años que trabajó para la compañía, ésta creció hasta tener más de 600 personas. Durante buena parte de su vida en Twitter dirigió los esfuerzo de experiencia de usuario y en 2010 fue responsable de lanzar la versión que sería conocida como #NewTwitter. Hace tan sólo algunas semanas dejó Twitter y ahora viaja por México, lee, anda en bicicleta, corre, juega con su perro y termina las noches con los ojos rojos de tanto leer.
        
        Hoy Britt enfoca su energía en encontrar formas en las que los usuarios puedan experimentar una web más humana y en ayudar a que los desarrolladores pueden descubrir una relación más íntima con su profesión. 

  #adriana_tortajada
    %img{:src => "/images/mentores/adriana_tortajada.jpg"}
    %h2 Adriana Tortajada
    .bio
      :markdown
        Adriana Tortajada ha sido parte del Fondo de Emprendedores CONACYT-NAFIN desde 2004. Ella es una miembro fundadora del primer fondo de capital público para emprendedores científicos y tecnológicos, en el cual ella tiene el liderazgo de  diversos grupos internos y externos de evaluación y negociación, y mediante el cual ha cerrado más de 40 inversiones por una cifra cercana a los $20 millones de dólares.
        
        Actualmente trabaja en el diseño y la implementación del Fondo de Fondos de caputal emprendedor y dedica buena parte de su tiempo a medir el desempeño de las inversiones de etapa temprana, venture capital y private equity en comparación con otras entidades internacionales.

        Adriana tiene un título de Licenciada en Finanzas por la Universidad de Guadalajara y una Maestría en Administración Pública por la Universidad Ortega y Gasset de Madrid, España. En 2009, participó en el programa de "Innovación Abierta y Emprendimiento Corporativo" de la Universidad de California en Berkeley.
  
  #mark_mackay
    %img{:src => "/images/mentores/mark_mackay.jpg"}
    %h2 Mark MacKay
    .bio
      :markdown
        Mark es un diseñador de interacción con más de diez años de experiencia en la web. A lo largo de su carrera profesional, ha trabajado en México, España, Canadá y Estados Unidos, tanto con startups como Onswipe y Ducksboard como con clientes internacionales como Naciones Unidas, BBVA, Bell, y McDonald's.

        Mark escribe en Duopixel desde hace seis años. Duopixel es un blog de diseño en español que ha sido destacado en el libro "Blogs, Mad about Design" de maomao publications y su constancia fue distinguida por CNN/Expansión al nombrar a Mark "Estudiante Universitario del Año" en la categoría de periodismo en 2008.

        Mark recientemente se mudó a Playa del Carmen, México para arrancar su propio proyecto: Method of Action, que será una plataforma para aprender diseño con mecánicas de juego. Method of Action ha sido reseñado en publicaciones como FastCompany, Boing Boing y Kottke.org.