#menu
  %ul
    %li
      %a{:href => "/"} Inicio
    %li
      %a{:href => "/"} Programa
    %li
      %a{:href => "/"} Participantes    
    %li
      %a{:href => "/"} Mentores
    %li
      %a{:href => "/"} Lugar
    %li
      %a{:href => "/"} Inscripciones