#menu-container
  #menu
    %ul
      %li
        %a{:href => "#heading"} Inicio
      %li
        %a{:href => "#program"} Programa
      %li
        %a{:href => "#tickets"} Tickets
      %li
        %a{:href => "#venue"} Sede
    %a{:href => "#tickets"} Quiero ir