#global-menu
  %header
    %h1
      %img(src="/images/sw_logo_white_600px.png" alt="Startup Weekend Mexico City")
  %nav.menu
    %a{:href => "#home"} Inicio
    %a{:href => "#program"} Programa
    %a{:href => "#tickets"} Tickets
    %a{:href => "#venue"} Sede
    %a{:href => "#coaches"} Coaches
    %a{:href => "#judges"} Jueces
    %a.tickets_btn{:href => "#tickets"} Quiero ir