#menu-container
  #menu
    %ul
      %li
        %a{:href => "#heading"} Inicio
      %li
        %a{:href => "#program"} Programa
      %li
        %a{:href => "#panel"} Panel de Inversionistas
      %li
        %a{:href => "#venue"} Sede
    %a{:href => "#"} Quiero ir