- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/new.css', :type => 'text/css'}
  %script{:src => "/javascripts/jquery.min.js", :type => "text/javascript"}    
  %script{:src => "/javascripts/new.js", :type => "text/javascript"}    
#heading
  %img{:src => "/images/sw_logo_white_600px.png"}
  %h1 ¡Construye una nueva empresa en 54 horas! 
  %p Startup Weekend es un fin de semana en el que tendrás la oportunidad de trabajar con personas de distintos perfiles para probar si tu idea de negocio es viable y llevarla hasta su máximo potencial. No te pierdas esta experiencia inolvidable.
/
  #local.sponsors
    %ul
      %li#taxidermie
        %a{:href => "http://taxidermie.tv"}
          %img{:src => "/images/logos/taxidermie.png"}
      %li#avm
        %a{:href => "http://www.angelventuresmexico.com/"}
          %img{:src => "/images/logos/avm.png"}
      %li#pugly
        %img{:src => "/images/logos/pugly.png"}
      %li#mexicanvc
        %a{:href => "http://mexican.vc"}
          %img{:src => "/images/logos/mexicanvc.png"}
#pics
  %img{:src => '/images/swdf3_3.jpg'}
  %img{:src => '/images/swdf3_2.jpg'}
  %img{:src => '/images/swdf3_1.jpg'}
#global.sponsors
  %ul
    %li#google
      %img{:src => "/images/logos/google.png"}
    %li#dotco
      %img{:src => "/images/logos/dotco.png"}
    %li#bizspark
      %img{:src => "/images/logos/bizspark2.png"}
    %li#cloudmine
      %img{:src => "/images/logos/cloudmine.png"}
    %li#sendgrid
      %img{:src => "/images/logos/sendgrid.png"}
    %li#sendgrid
      %img{:src => "/images/logos/aws_transparent.png"}
#program
  :markdown
    # Programa
    
    ## Inicio
    La cita es el **viernes 7 de septiembre a la 6:00 pm**. El evento inicia formalmente a las 7:00pm con una introducción a la dinámica y una sesión de networking para conocer a los demás asistentes.

    ## Selección de ideas
    Tendrás la oportunidad de presentar una idea de negocio durante un minuto. Las mejores ideas serán seleccionadas por los propios participantes.

    ## Formación de equipos
    Podrás participar en la idea seleccionada que más te apasione (¿la tuya quizá?). Un buen equipo será multidisciplinario, con personas técnicas, diseñadores y gente de negocios a bordo.

    ## Validación inicial de mercado 
    Antes de crear cualquier cosa es crucial preguntarse ¿quién es mi cliente? ¿qué le duele? ¿qué tan grande es mi mercado? ¿está creciendo? ¿cómo podría generar dinero?

    ## Desarrollo de producto
    Ya con más información, pasaremos a desarrollar una primera versión del producto que sea mínimamente viable, es decir, que resuelva el problema fundamental para al menos un cliente.

    ## Validación de la oferta de valor
    Consideranto que nuestro MVP es sólo un prototipo, es importante probarlo con clientes reales para aprender sobre este mismo ¿realmente resuelve el problema? ¿es fácil de entender? ¿refleja su valor ante el cliente?

    ## Presentación
    Por último, cada equipo tendrá 5 minutos para presentar y 3 minutos de preguntas y respuestas ante un panel de emprendedores e inversionistas. 

    Si bien Startup Weekend tiene un formato de competencia, lo importante (y lo decimos en serio) no es quién gana, sino quienes logran tener un progreso en su  capacidad de ejecutar rápidamente un negocio. Startup Weekend es un evento de aprendizaje experiencial y de relacionamiento para presentes y futuros emprendedores.
    
    ## Finalización
    En esta ocasión, **el evento terminará a las 9:00pm del domingo 9 de Septiembre** con la premiación del equipo ganador. Después de que finalice el evento, invitamos a todos los asistentes, mentores y jueces a un "after-party" en el que podremos convivir en un ambiente mucho más relajado.
/
  #panel
    %h1 Panel de inversionistas
    #dave_mcclure
      %img{:src => "/images/goap/dave_mcclure.jpg"}
      %h2 Dave McClure
      %h3 500 Startups
    #adriana_tortajada
      %img{:src => "/images/goap/adriana_tortajada.jpg"}
      %h2 Adriana Tortajada
      %h3 NAFIN
    #david_weekly
      %img{:src => "/images/goap/david_weekly.jpg"}
      %h2 David Weekly
      %h3 Mexican.VC
    #bedy_yang
      %img{:src => "/images/goap/bedy_yang.jpg"}
      %h2 Bedy Yang
      %h3 500 Startups
    #hernan_fernandez
      %img{:src => "/images/goap/hernan_fernandez.jpg"}
      %h2 Hernán Fernández
      %h3 Angel Ventures Mexico
    #allen_taylor
      %img{:src => "/images/goap/allen_taylor.jpg"}
      %h2 Allen Taylor
      %h3 Endeavor Global
#venue
  %h1 Sede del evento
  #address
    %h2 Wayra Mexico
    %p Prol. Paseo de la Reforma #1200 
    %p Col. Cruz Manca Santa Fe, Cuajimalpa
    %p Mexico Mexico
    %p
      %a{:href => "https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Prol.+Paseo+de+la+Reforma+%231200,+Col.+Cruz+Manca+Santa+Fe&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.71116,100.986328&amp;ie=UTF8&amp;hq=Prol.+Paseo+de+la+Reforma+%231200,+Col.+Cruz+Manca+Santa+Fe&amp;hnear=&amp;ll=19.358462,-99.272536&amp;spn=0.014576,0.024655&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=4386994159956680507", :target => "_blank"} Ver en Google Maps
  #map
    :plain
      <iframe width="720" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Prol.+Paseo+de+la+Reforma+%231200,+Col.+Cruz+Manca+Santa+Fe&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.71116,100.986328&amp;ie=UTF8&amp;hq=Prol.+Paseo+de+la+Reforma+%231200,+Col.+Cruz+Manca+Santa+Fe&amp;hnear=&amp;ll=19.358462,-99.272536&amp;spn=0.014576,0.024655&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=4386994159956680507&amp;output=embed"></iframe>
#tickets
  %h1 Boletos
  :plain
    <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=3934855258&ref=etckt" frameborder="0" height="338" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ></div></div>

  %p O registrate para enterarte de futuros eventos:
  :plain
    <form action="http://earlyadopters.us2.list-manage.com/subscribe/post?u=5a2b3b4890e0680920a6350f6&amp;id=40612bfdb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Correo electrónico" required>
    	<input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  / :plain
  /   <iframe  src="http://www.eventbrite.com/tickets-external?eid=2755695359&ref=etckt" frameborder="0" height="338" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
#bg-up.parallax
#bg-float.parallax
#bg-left.parallax
#bg-right.parallax
#bg-right2.parallax
#bg-left2.parallax
#bg-float2.parallax
