- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/programa.css', :type => 'text/css'}
        
#heading
  %h1 Programa
#content
  %p.teaser El evento dura tres días, de viernes en la tarde a domingo en la noche. Funciona de esta forma:
  #program
    #viernes
      %h2 Viernes
      %p.date 11 de noviembre de 2011
      :markdown
        El viernes la cita es a las 6pm y todo inicia con una presentación de parte de nuestro facilitador. Durante su exposición, nos explica las dinámicas y objetivos específicos del evento y nos presenta algunas herramientas que facilitarán el trabajo. Posteriormente, viene una sesión de presentación de ideas en la que cada participante tiene 1 minuto para exponer al resto de los asistentes una idea de negocio que le gustaría que se desarrollara durante el fin de semana. Una vez presentadas las ideas, los participantes proceden a votar por los proyectos más prometedores e interesantes. Con los proyectos ya elegidos, el siguiente paso es formar equipos alrededor de cada proyecto.
        A partir de este momento, cada equipo decide cómo y cuando trabajar. Normalmente los equipos se quedan hasta la madrugada del sábado trabajando en sus proyectos de forma que el sábado incien con una ventaja.
    #sabado
      %h2 Sábado
      %p.date 12 de noviembre de 2011
      :markdown
        Este día es normalmente el más productivo. Los equipos empiezan a trabajar desde temprano y avanzan en el desarrollo de la empresa con la ayuda de los mentores. Cada mentor tiene una experiencia y especialidad distinta así que existe la oportunidad de absorber una gran cantidad de conocimiento de su parte. 
        Normalmente el sábado los equipos trabajan toda la noche de tal forma que el domingo tengan suficiente tiempo para terminar el desarrollo de sus prototipos y puedan preparar su presentación final.
    #domingo
      %h2 Domingo
      %p.date 13 de noviembre de 2011
      :markdown
        El último día es naturalmente aquel en el que existe más presión. Los equipos se dividen una gran cantidad de tareas de forma que puedan terminar a tiempo para presentar sus empresas ante el jurado. Al final de la tarde, una vez cerrado el tiempo de desarollo se realizan las presentaciones finales en las que un jurado de emprendedores e inversionistas  califica y retroalimenta a los equipos. 
        Dadas las relaciones formadas durante 3 días tan intensos, puedes esperar que esto no termine ahí. Normalmente salimos a festejar con algunas cervezas tan pronto como termina la premiación.
      
  #requirements
    %h2 ¿Qué necesito para participar?
    %ol
      %li Prepara tu idea para presentar en el evento. Tienes que presentarla en un minuto así que será bueno que la tengas tan clara y concisa como puedas.
      %li Aparta todo el fin de semana para que nada te distraiga del evento. La experiencia es mucho más enriquecedora cuando te sumerges al máximo.
      %li Lleva tu material de trabajo ya sea computadora, tableta, plumones, cuadernos o lo que sea.