@import 'reset', 'palette', 'fonts', 'mixins', 'forms'
 
html
  @include gradient(lighten(#3e7fd1,5), lighten(#3e7fd1,20), lighten(#3e7fd1,30))
  border: none
body
  background: transparent no-repeat scroll 50% 0
  font-family: "Gudea", sans-serif
  color: $black
  font-size: 17px
  #menu-container
    background: $black
    @include box-shadow
    #menu
      // padding: 0 1em
      @include intuitive-box
      @include centered
      ul
        @include horizontal-list
        display: inline-block
        padding: 0.75em 0
        li
          margin-left: 1.5em
          margin-right: 1.5em
          text-transform: uppercase
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0
          a
            color: $white
  
  #footer-container
    background: transparent url(/images/footer.png) no-repeat scroll 50% 0
    position: absolute
    z-index: 500
    width: 100%
    @include clearfix
    #footer
      background: #000
      margin-top: 470px
      color: $white
      text-align: center
      padding: 2em 0
      p
        font-size: 0.8em
        color: $gray
    
h1
  font-family: "Maiden Orange", Helvetica, Arial, sans-serif
  font-size: 3.5em
  margin-bottom: 0.5em
  letter-spacing: -0.04em
  text-align: center
  
h2
  font-size: 2em
  letter-spacing: -0.04em
  margin-top: 1em
  margin-bottom: 0.5em
  
p
  margin-bottom: 1em
  line-height: 1.5
a
  color: $brand
  text-decoration: none
  &:hover
    text-decoration: underline

ul
  list-style: circle inside

ol
  list-style: decimal inside
  
li
  margin-bottom: 1em
  line-height: 1
  color: $black
 
  
  