@import 'global'
    
#content
  padding-top: 2em !important
  position: relative

  #sponsors
    overflow: hidden
    margin-bottom: 1em
    h3
      font-size: 0.75em
      font-family: Helvetica, Arial, sans-serif
      text-transform: uppercase
      color: $gray
      font-weight: normal
      margin-bottom: 0.5em
    #gold
      margin-bottom: 1em
      width: 35%
      float: left
      a 
        margin: 2em 0 0 0 !important
    
    #silver
      margin-bottom: 2em !important
    
    #local
      margin-bottom: 1em
      overflow: hidden
      > div
        margin-bottom: 0em
        a
          margin: 0 3em 0 0
        a#innku img
          margin-top: 10px
        a#telepro img
          margin-top: 6px
        a#mexicanvc 
          padding-top: 20px
        a#nafin img
          padding-top: 5px
        a#techba img
          padding-top: 12px
    
    #global, #silver, #gold, #allies
      // float: left
      overflow: hidden
      a
        display: block
        float: left
        margin: 5px 30px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
        &:hover
          text-decoration: none
          outline: 0
          border: none
        &#bizspark
        &#aws
        &#twilio
          padding-top: 5px
        &#odesk
          padding-top: 4px
        &#opentok
          padding-top: 4px
  
  #social
    margin-bottom: 1em
    iframe
      &:first-child
        height: 33px !important
        
  #description
    #images
      overflow: hidden
      clear: both
      @include centered(800px)
      img
        padding-right: 10px
        display: block
        float: left
        &:last-child
          padding-right: 0

    p
      margin: 1.5em 0
      font-size: 1.2em
      strong
        color: $contrast
      
  #register
    text-align: center
    background: $light_gray
    border: 1px solid $mild_gray
    padding: 1.5em
    padding-bottom: 0
    h2
      margin: 0
      margin-bottom: 0.5em
      a:hover
        text-decoration: none
        color: lighten($brand, 20%)
  
  #venue
    @include clear
    > div
      width: 50%
      float: left
    #map
      padding-top: 2em
  
  #organizers
    ul
      list-style: none
    li
      display: block
      float: left
      margin-right: 1em
      width: 140px
      overflow: hidden
      img
        float: left
        margin-right: 10px
      p
        font-weight: bold
        font-size: 0.8em
      a.twitter
        background: transparent url(/images/twitter.png) no-repeat scroll 0 0
        display: block
        float: left
        width: 23px
        height: 23px
        text-indent: -5000px
      a.email
        background: transparent url(/images/personal.png) no-repeat scroll 0 0
        display: block
        width: 23px
        height: 23px
        text-indent: -5000px
        float: left
      p
        margin: 0

    