@import 'global'

#content
  padding-top: 2em !important
  h1
    display: block
    height: 100px
    line-height: 105px
    background: transparent url(/images/sw_logo_150px.png) no-repeat scroll 0 0
    text-indent: 200px
    margin-bottom: 0.2em
  #sponsors
    overflow: hidden
    margin-bottom: 1em
    h3
      font-size: 10pt
      font-family: Helvetica, Arial, sans-serif
      margin-bottom: 1em
    #local
      // width: 230px
      margin-bottom: 1em
    #global
      // width: 570px
    
    #local, #global
      // float: left
      overflow: hidden
      a
        display: block
        float: left
        margin: 5px 30px
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
        &:hover
          text-decoration: none
          outline: 0
          border: none

  #description
    #images
      overflow: hidden
      clear: both
      @include centered(800px)
      img
        padding-right: 10px
        display: block
        float: left
        &:last-child
          padding-right: 0
    
    p
      margin: 1.5em 0
      font-size: 1.2em
      
  #register
    text-align: center
    background: $light_gray
    border: 1px solid $mild_gray
    padding: 1.5em
    padding-bottom: 0
    h2
      margin: 0
      margin-bottom: 0.5em
      a:hover
        text-decoration: none
        color: lighten($brand, 20%)
  
  #venue
    @include clear
    > div
      width: 50%
      float: left
    #map
      padding-top: 2em
  
  #credits
    margin-top: 3em
    p
      font-size: 0.8em
      color: $gray
    